.container-err{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 100%;
    position: relative;
    // border: 5px solid black;
    // margin: 0;
    // padding: 0;
    // text-align: center;
    // h1{
    //     height: 100%;
    //     line-height: 500px;
    // }
}