@keyframes meniu{
    0%{
        opacity: 0;
        transform:scaleY(0);
    }
    100%{
        opacity: 1;
        transform:scaleY(1);
    }
}
@keyframes sagetica_in{
    from{
        transform: translateX(-40px);
    }
    to{
        transform: translateX(30px);
    }
}
@keyframes sagetica_out{
    from{
        transform: translateX(30px); 
    }
    to{
        transform: translateX(-40px);
    }
}
@keyframes sagetica2_in{
    from{
        transform: translateX(-40px);
    }
    to{
        transform: translateX(50px);
    }
}
@keyframes sagetica2_out {
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(-40px);
    }
}
@keyframes display_meniu_ham{
    0%{
        transform: scale(0%);
    }
    100%{
        transform: scale(100%);
    }
}
@keyframes displ_submeniu_ham {
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(100%);
    }
}
@mixin deschidere_meniu {
    animation: meniu .25s linear forwards;
    transform-origin: 50% 0;
}