.produs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'nume nume'
    'imagine-produs tip'
    'info descriere'
    'info select'
    ;
    grid-gap: 1rem;
}
main{
    padding: 5px;
}

.imagine-produs{
    grid-area: imagine-produs;
    width: 100%;
    margin: 0;
}
.tip{
    grid-area: tip;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-prod{
    grid-area: info;
    color:#a1e049;
}
.descriere{
    grid-area: descriere;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nume{
    grid-area: nume;
    text-align: center;
    text-decoration: none;
    
}
.link-nume{
    color: white;
}
.selecteaza-cos{
    grid-area: select;
    display: flex;
    justify-content: center;
    align-items: center;
}
.val-pret, .val-scor, .val-producator, .val-caracteristici, .val-data, .copii{
    color: white;
}
.nu{
    color: red;
}