@-webkit-keyframes meniu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes meniu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes sagetica_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes sagetica_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@-webkit-keyframes sagetica_out {
  from {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@keyframes sagetica_out {
  from {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@-webkit-keyframes sagetica2_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes sagetica2_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@-webkit-keyframes sagetica2_out {
  from {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@keyframes sagetica2_out {
  from {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@-webkit-keyframes display_meniu_ham {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes display_meniu_ham {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes displ_submeniu_ham {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

@keyframes displ_submeniu_ham {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

#main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-row-gap: .3rem;
  grid-column-gap: .2rem;
      grid-template-areas: 'inceput inceput inceput inceput'
 'calendar tabel tabel ads'
 'content content content content'
 'despre-site despre-site utilizatori-online despre-user';
}

.inceput {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: inceput;
  background-color: #86c232;
}

.calendar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: calendar;
}

.tabel {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: tabel;
}

.ads {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: ads;
}

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: content;
}

.inf_site {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: despre-site;
  background-color: #86c232;
}

.inf_user {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: despre-user;
  background-color: #61982f;
}

.user_online {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: utilizatori-online;
  background-color: #86c232;
}

@media (max-width: 1007px) {
  #main-container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: 'inceput inceput'
 'calendar tabel'  
 'ads ads'
 'content content'
 'despre-site despre-site'
 'utilizatori-online despre-user';
  }
}

@media (max-width: 679px) {
  #main-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: 'inceput'
 'calendar'
 'tabel'
 'ads'
 'content'
 'despre-site'
 'utilizatori-online'
 'despre-user';
  }
}

@keyframes meniu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes sagetica_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes sagetica_out {
  from {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@keyframes sagetica2_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes sagetica2_out {
  from {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@keyframes display_meniu_ham {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes displ_submeniu_ham {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

#menu-click {
  display: none;
}

#toate > div {
  cursor: default;
}

@media screen and (max-width: 679px) {
  .meniu {
    width: 100%;
    height: 37px;
    padding: 0;
    margin: 0;
    background-color: #3D418F;
    z-index: 15;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .meniu ul.ul_meniu {
    display: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: #3D418F;
  }
  .meniu ul.ul_meniu #acasa {
    display: none;
  }
  .meniu ul.ul_meniu .sageata {
    display: none;
  }
  .meniu ul.ul_meniu #doar_casa ul {
    display: none;
  }
  .meniu ul.ul_meniu #toate ul {
    display: none;
  }
  .meniu ul.ul_meniu #toate:hover ul {
    display: block;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation: displ_submeniu_ham .5s linear forwards;
            animation: displ_submeniu_ham .5s linear forwards;
  }
  .meniu ul.ul_meniu #doar_casa:hover ul {
    display: block;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation: displ_submeniu_ham .5s linear forwards;
            animation: displ_submeniu_ham .5s linear forwards;
  }
  .meniu ul.ul_meniu li {
    line-height: 37px;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
  }
  .meniu ul.ul_meniu li a, .meniu ul.ul_meniu li div {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  }
  .meniu ul.ul_meniu li a:hover, .meniu ul.ul_meniu li div:hover {
    -webkit-box-shadow: inset 6px 6px 10px 1px #6b6e70, inset -6px -6px 10px 1px #6b6e70;
            box-shadow: inset 6px 6px 10px 1px #6b6e70, inset -6px -6px 10px 1px #6b6e70;
  }
  #menu-click:checked ~ .meniu > ul.ul_meniu {
    display: block;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-animation: display_meniu_ham .7s linear forwards;
            animation: display_meniu_ham .7s linear forwards;
  }
  #hamburger {
    font-size: 2em;
  }
}

@media screen and (min-width: 680px) {
  #hamburger {
    display: none;
  }
  .meniu {
    display: block;
  }
  #acasa {
    display: none;
  }
  #doar_casa {
    display: block;
  }
  .meniu ul.ul_meniu ul {
    display: none;
    position: absolute;
    background-color: #3D418F;
    width: 200px;
  }
  .meniu ul.ul_meniu ul li {
    text-align: center;
    width: 150px;
  }
  .meniu ul.ul_meniu ul li a {
    text-align: center;
  }
  .meniu {
    width: 100%;
    height: 37px;
    padding: 0;
    margin: 0;
    background-color: #3D418F;
    z-index: 15;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .meniu ul li {
    float: left;
    width: 200px;
    height: 37px;
    position: relative;
    text-align: center;
    list-style-type: none;
  }
  .meniu ul li a, .meniu ul li div {
    height: 37px;
    line-height: 37px;
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  }
  .meniu ul li a:hover, .meniu ul li div:hover {
    -webkit-box-shadow: inset 6px 6px 10px 1px #6b6e70, inset -6px -6px 10px 1px #6b6e70;
            box-shadow: inset 6px 6px 10px 1px #6b6e70, inset -6px -6px 10px 1px #6b6e70;
  }
  ul.ul_meniu > li:hover > ul {
    width: 200px;
    padding: 0px;
    display: block;
    -webkit-animation: meniu .25s linear forwards;
            animation: meniu .25s linear forwards;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  ul.ul_meniu > li:hover > ul li {
    text-align: center;
    width: 200px;
  }
  .submeniu {
    display: inline;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .submeniu li {
    overflow: hidden;
  }
  #toate li {
    overflow: hidden;
  }
  .sageata {
    float: left;
    margin-left: 0px;
    margin-top: 10px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
  }
  .submeniu > li:hover .s1, #toate > ul > li:hover .s1 {
    -webkit-transform: translateX(33px);
            transform: translateX(33px);
  }
  .submeniu > li:hover .s2, #toate > ul > li:hover .s2 {
    -webkit-transform: translateX(54px);
            transform: translateX(54px);
  }
}

@media screen and (min-width: 1008px) {
  #doar_casa {
    display: none;
  }
  #acasa {
    display: block;
    cursor: default;
  }
  .meniu ul.ul_meniu ul {
    display: none;
    position: absolute;
    background-color: #3D418F;
    width: 200px;
  }
  .meniu ul.ul_meniu ul li {
    text-align: center;
    width: 150px;
  }
  .meniu ul.ul_meniu ul li a {
    text-align: center;
  }
  .meniu {
    width: 100%;
    height: 37px;
    padding: 0;
    margin: 0;
    background-color: #3D418F;
    z-index: 15;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .meniu ul li {
    float: left;
    width: 200px;
    height: 37px;
    position: relative;
    text-align: center;
    list-style-type: none;
  }
  .meniu ul li div, .meniu ul li a {
    height: 37px;
    line-height: 37px;
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
    -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: -webkit-box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  }
  .meniu ul li div:hover, .meniu ul li a:hover {
    -webkit-box-shadow: inset 6px 6px 10px 1px #6b6e70, inset -6px -6px 10px 1px #6b6e70;
            box-shadow: inset 6px 6px 10px 1px #6b6e70, inset -6px -6px 10px 1px #6b6e70;
  }
  ul.ul_meniu > li:hover > ul {
    width: 200px;
    padding: 0px;
    display: block;
    -webkit-animation: meniu .25s linear forwards;
            animation: meniu .25s linear forwards;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  ul.ul_meniu > li:hover > ul li {
    text-align: center;
    width: 200px;
  }
  .submeniu {
    display: inline;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .submeniu li {
    overflow: hidden;
  }
  #toate > ul > li {
    overflow: hidden;
  }
  .sageata {
    float: left;
    margin-left: 0px;
    margin-top: 10px;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
  }
  .submeniu > li:hover .s1, #toate > ul > li:hover .s1 {
    -webkit-transform: translateX(28px);
            transform: translateX(28px);
  }
  .submeniu > li:hover .s2, #toate > ul > li:hover .s2 {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

#galerie_statica {
  display: block;
  padding: 0;
  margin: 10px;
}

#galerie_statica img {
  width: 100%;
  padding: 0;
}

#galerie_statica figure {
  padding: 0;
  margin: 0;
  -webkit-transition: all 1.25s linear;
  transition: all 1.25s linear;
}

#galerie_statica figure:hover {
  -webkit-transform: scale(130%) translateY(-19px);
          transform: scale(130%) translateY(-19px);
}

#galerie_statica figure:hover figcaption {
  color: #86c232;
  background-color: #3D418F;
}

#galerie_statica figcaption {
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-transition: color 1s, background-color 1.25s linear;
  transition: color 1s, background-color 1.25s linear;
}

@media (min-width: 680px) {
  #galerie_statica {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 0;
    margin: 10px;
  }
  #galerie_statica img {
    width: 100%;
    padding: 0;
  }
  #galerie_statica figure {
    padding: 0;
    margin: 0;
  }
  #galerie_statica figcaption {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1007px) {
  #galerie_statica {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 0;
    margin: 10px;
  }
  #galerie_statica a:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2/4/3/5;
  }
  #galerie_statica img {
    width: 100%;
    padding: 0;
  }
  #galerie_statica figure {
    padding: 0;
    margin: 0;
  }
  #galerie_statica figcaption {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  #galerie_statica a:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-area: 2/4/3/5;
  }
  #galerie_statica a:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    grid-area: 3/1/4/2;
  }
  #galerie_statica a:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    grid-area: 3/2/4/3;
  }
  #galerie_statica a:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    grid-area: 3/3/4/4;
  }
  #galerie_statica a:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 4;
    grid-area: 3/4/4/5;
  }
}

h1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sectiune1 {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
}

body {
  background-color: #222629;
  color: #f6f8f7;
  font-family: 'Raleway', sans-serif;
  font-size: .6em;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

summary {
  cursor: pointer;
}

@media (min-width: 680px) {
  body {
    font-size: .75em;
  }
}

@media (min-width: 1008px) {
  body {
    font-size: .9em;
  }
}

#main-container {
  padding: 7px;
  margin: 5px;
}

li > figure {
  max-width: 560px;
}

li > figure picture img {
  width: 100%;
  height: 100%;
}

.fb_mare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fb_mare .iframe-container {
  position: relative;
  border: 3px solid #61982f;
  width: 560px;
  height: 320px;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .fb_mare .iframe-container {
    width: 100%;
  }
}

.fb_mare .iframe-container iframe {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0;
}

.fb_mare .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.fb_mare .links .trailer_div {
  border: 3px solid #61982f;
  background-color: #333d29;
  text-align: center;
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
}

.fb_mare .links .trailer_div a {
  float: right;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}

@media screen and (min-width: 779px) {
  .fb_mare .links .trailer_div:hover {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: scaleX(1.6);
            transform: scaleX(1.6);
    background-color: #222629;
  }
  .fb_mare .links .trailer_div:hover a {
    -webkit-transform: scaleX(0.625);
            transform: scaleX(0.625);
  }
}

.fb_mare .links a {
  text-decoration: none;
  color: #86c232;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 780px) {
  .fb_mare .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fb_mare .links .trailer_div {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

.container_sageata {
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center;
    justify-content: center; */
  width: 3vw;
  height: 3vw;
  opacity: .5;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 3px solid #6b6e70;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-transition: background-color .7s;
  transition: background-color .7s;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.container_sageata:hover {
  opacity: 1;
  background-color: #86c232;
}

.container_sageata:hover .triunghi {
  border-bottom-color: #222629;
}

.fa-phone {
  font-size: .8em;
}

.triunghi {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  padding: 0;
  width: 0px;
  height: 0px;
  border-bottom: 1.8vw solid #86c232;
  margin: auto;
  /* padding: 10px; */
  margin-top: 0.48vw;
  margin-right: 0.72vw;
  border-left: 0.9vw solid transparent;
  border-right: 0.9vw solid transparent;
  background-color: transparent;
  border-bottom-left-radius: 0.9vw;
  border-bottom-right-radius: 0.9vw;
  -webkit-transition: border-bottom-color .7s;
  transition: border-bottom-color .7s;
}

.harta {
  width: 100%;
  height: 100%;
  border: none;
}

.container-harta {
  max-width: 600px;
  height: 450px;
}

.watermark {
  display: none;
}

.video_container {
  width: inherit;
  position: relative;
  text-align: center;
}

.video_container video {
  width: 40%;
}

#tabel {
  padding: 0;
  cursor: default;
}

@media screen and (max-width: 1007px) {
  #tabel {
    white-space: nowrap;
    overflow-x: auto;
  }
}

#tabel #tabel_tabel {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  -webkit-box-shadow: inset 0 0 0 8px white;
          box-shadow: inset 0 0 0 8px white;
  padding: 10px;
}

#tabel td, #tabel th, #tabel tr {
  border-left: 1px solid #86c232;
  border-right: 1px solid #86c232;
  text-align: center;
  padding: 8px;
}

#tabel tbody tr:nth-child(odd) {
  border-top: 1px solid blue;
  border-bottom: 1px solid red;
}

#tabel tbody tr:nth-child(even) {
  border-top: 1px solid red;
  border-bottom: 1px solid blue;
}

#tabel tr {
  z-index: 9;
  outline: 7px solid rgba(134, 194, 50, 0);
}

#tabel tr:hover {
  outline: 7px solid rgba(134, 194, 50, 0.7);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#banner {
  text-align: center;
}

hr {
  padding: 1px;
  background-clip: padding-box;
  background-color: #61982f;
  border-left: 30px solid #61982f;
  border-right: 30px solid #61982f;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#banner_print {
  display: none;
}
/*# sourceMappingURL=stil.css.map */
::cue{
  background-color: #222629;
  color: #f6f8f7;
  line: 100%;
}
track{
  position: relative;
  left: 0%;
}