<!-- pagina de 404 -->
<html lang="en">
    <%- include("../fragmente/head.ejs");  %> 
    <link rel="stylesheet" href="Resurse/Stil/eroare.css">
<body>
    <%- include("../fragmente/header.ejs");  %> 
    <div class="container-err">
        <img src="Resurse/images/attention-g8ba58f7d7_1280.png">
        <h1>Eroare 404 - Pagina nu a fost gasita!</h1>
        <img src="Resurse/images/attention-g8ba58f7d7_1280.png" alt="Eroare 404">
    </div>
</body>
</html>