<html lang="en">
<head>
    <%- include("../fragmente/head.ejs");  %> 
    <title>Contul meu</title>
    </head>
<body>
    <%- include("../fragmente/header.ejs");  %> 
    <main>
    <h1>Hai ca merge</h1>
    </main>
    <%- include("../fragmente/footer.ejs");  %> 
</body>
</html>