<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - cos virtual.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse, cos virtual">
<<<<<<< HEAD
        <!-- <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" /> -->
        <title>Cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/Resurse/js/cos_virtual.js"></script>
=======
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>Cofetăria Dulcelind - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
>>>>>>> e2337a5c3b01e4ebb352a457c89b71faf21c4d1f
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpara
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>