<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind - cos virtual.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse, cos virtual">
        <!-- <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" /> -->
        <title>Cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/Resurse/js/cos_virtual.js"></script>
        <link rel="stylesheet" href="/Resurse/Stil/cos-virtual.css" type="text/css">
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Cumpără
        </button>        
        <!-- <script>
            var butoane = document.getElementsByClassName('b3');
		for(buton of butoane){
				buton.onclick = function(){
					alert("ho ho ho");
					console.log("a mers butoinul")
				}
		}
        </script> -->
    </main> 
    <%- include("../fragmente/footer") %>
</html>