<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termeni și condiții</title>
    <%- include("../fragmente/head.ejs");  %>
    
</head>
<body>
    <%- include("../fragmente/header.ejs");  %> 

    <div id="container-termeni">
            <h2>Termeni și condiții</h2>
            <p>Conditii Generale pentru utilizarea site-ului forthegamers11.herokuapp.com</p>
            <p>ACCEPTAREA CONDITIILOR</p>
            <p>Prin accesarea acestui site web si/sau a oricarei pagini a acestuia sunteti de acord cu aceste conditii de utilizare. Daca nu sunteti de acord cu acesti termeni si conditii de utilizare, nu accesati acest site.</p>
            <p>DESCRIEREA SERVICIILOR</p>
            <p>Siteul nostru va pune la dispozitie informatiile din acest site web in scop informativ general si nu garanteaza de exactitatea lor la un moment dat, desi se va incerca pe cat posibil ca la publicarea lor pe site toate informatiile sa fie exacte.</p>
            <p>INTRODUCERE<br>
            Prezentele Conditii Generale definesc conditiile de utilizare a site-ului forthegamers11.herokuapp.com de catre potentialii vizitatori sau clienti. Accesând si navigând pe acest site, acceptati termenii de utilizare descrisi în continuare.</p>
            <p>DREPTURILE ASUPRA CONTINUTULUI SITE-ULUI<br>
            Site-ul forthegamers11.herokuapp.com nu va transfera titlul de proprietate asupra aplicatiilor software .</p>
            <p>Siteul forthegamers11.herokuapp.com detine drepturi complete si depline asupra titlului de proprietate si prin aceasta toate drepturile de autor si cele brevetate. Nu aveti dreptul sa redistribuiti, vindeti, decompilati, dezasamblati aplicatia software într-o forma perceptibila de catre oameni.</p>
            <p>Toate informatiile, cu exceptia produselor, continute în acest site sunt proprietatea forthegamers11.herokuapp.com, care îsi rezerva dreptul de a modifica continutul si/sau structura site-ului în orice moment si fara nici o informare prealabila.</p>
            <p>Produsele prezentate <strong>NU</strong> sunt proprietatea forthegamers11.herokuapp.com, ci a producatorilor acestora (mentionati in dreptul fiecarui produs). forthegamers11.herokuapp.com nu detine drepturi de autor pentru niciunul din produsele prezentate si <strong>NU</strong> ofera acces la proprietatea intelectuala detinuta de vreunul dintre producatori cu exceptia cazului in care licenta de distribuire a produsului specifica explicit faptul ca distribuirea produsului de catre terti este permisa.</p>
            <p>Întregul continut al site-ului forthegamers11.herokuapp.com, cu exceptia produselor, este protejat prin legea drepturilor de autor, toate drepturile fiind rezervate. Toate drepturile referitoare la pagini, continutul si prezentarea site-ului sunt detinute de forthegamers11.herokuapp.com. Este interzisa copierea, modificarea, afisarea, distribuirea, transmiterea, publicarea, comercializarea, licentierea, crearea unor materiale derivate sau utilizarea continutului site-ului în orice scop fara confirmarea scrisa din partea forthegamers11.herokuapp.com.</p>
            <p>Accesul si utilizarea paginii forthegamers11.herokuapp.com sunt gratuite si au scopul de a veni in ajutorul utilizatorilor pentru a gasi informatiile necesare în cel mai usor si rapid mod posibil, conform cerintelor fiecaruia.</p>
            <p>Informatiile prezente pe forthegamers11.herokuapp.com sunt de interes general si sunt puse la dispozitia utilizatorilor în mod gratuit. Prin termenul „utilizator” al acestei pagini se întelege orice persoana fizica sau juridica care va accesa pagina. Puteti copia si tipari continutul paginii forthegamers11.herokuapp.com pentru folosinta dumneavoastra personala, fara intentii comerciale. În orice alte situatii, continutul forthegamers11.herokuapp.com nu poate fi reprodus, modificat sau exploatat fara consimtamântul explicit al reprezentantilor forthegamers11.herokuapp.com.</p>
            <p>NEANGAJAREA RASPUNDERII<br>
            Continutul informatiilor se refera la descrierea într-un anumit grad de detaliere a activitatilor, produselor si serviciilor forthegamers11.herokuapp.com. forthegamers11.herokuapp.com nu va acorda nici o garantie referitoare la:</p>
            <p>– evitarea utilizarii anevoioase sau întreruperii în utilizare a site-ului;<br>
            – neafectarea în sens negativ a altor sisteme prin utilizarea site-ului;<br>
            – inexistenta pe site-ul pus la dispozitie a virusilor sau alte componente care ar putea dauna utilizatorilor.</p>
            <p>Astfel, forthegamers11.herokuapp.com nu poate fi responsabila pentru nici un fel de daune directe sau indirecte produse prin utilizarea site-ului sau.<br>
            Toate informatiile prezentate pe site cu privire la produse, preturi, informatii, campanii si promotii de marketing, aspecte tehnice, sunt prezentate cu titlu informativ. Nimic din continutul site-ului forthegamers11.herokuapp.com nu poate constitui o oferta ferma de a contracta si nu poate angaja raspunderea administratorilor site-ului în lipsa unor acorduri ulterioare.</p>
            <p>Continutul paginii web forthegamers11.herokuapp.com, a informatiilor si a altor materiale prezentate de Comunitatea forthegamers11.herokuapp.com nu reprezinta o consultatie juridica în sensul Legii nr. 51/1995.</p>
            <p>GDPR este un set de reguli bazat pe principii complexe, care este deschis la interpretare si cotine, de asemenea, numeroase domenii în care statele membre sunt invitate sa intervina. În prezent exista foarte putine îndrumari cu privire la implementarea GDPR si este posibil ca Autoritatile de Supraveghere sa aiba puncte de vedere diferite fata de cele exprimate în acest șablon. În ciuda eforturilor noastre de a oferi cele mai bune servicii, nu putem anticipa cu exactitate modul în care Autoritatea de Supraveghere sau instanțele de judecata vor interpreta Regulamentul.</p>
            <p>Site-ul forthegamers11.herokuapp.com nu face nicio declaratie, promisiune sau garantie cu privire la exactitatea, exhaustivitatea sau caracterul adecvat al prezentului continut, al îndrumarilor si a consultantei, nu îsi asuma nicio obligatie de rezultat sau diligenta fata de nicio persoana, exclud în mod expres si neaga raspunderea pentru orice cost, pierdere sau daunele suferite ca urmare a utilizarii continutului.</p>
            <p>OBIECTIVUL CONTINUTULUI SITE-ULUI<br>
            Obiectivul continutului site-ului este de a transmite informatii actualizate si exacte.</p>
            <p>forthegamers11.herokuapp.com nu poate garanta ca prezentele pagini nu contin erori, si asigura ca va depune toate diligentele pentru realizarea unei informari corecte si remedierea eventualelor erori.</p>
            <p>Orice persoana care doreste sa-si procure unul din serviciile sau produsele prezentate în site este rugata sa contacteze forthegamers11.herokuapp.com prin unul din mijloacele afisate în pagina de Contact a site-ului, pentru a se informa atât asupra disponibilitatii serviciului sau produsului în cauza cât si asupra conditiilor contractuale, tarifelor si informatiilor tehnice sau de alta natura.</p>
            <p>INFORMATII PERSONALE<br>
            Când prin intermediul prezentului <a target="_blank" href="https://forthegamers11.herokuapp.com/">site </a>va sunt solicitate informatii, aceasta are ca scop identificarea dumneavoastra sau posibilitatea de a va contacta. Acest lucru este cu atât mai necesar în cazul folosirii aplicatiilor disponibile pe site.</p>
            <p>Natura informatiilor solicitate se refera în special la date personale (nume, adresa, numere de telefon), adresa de e-mail, modul în care sunt utilizate sau intentioneaza sa fie utilizate produsele si/sau serviciile forthegamers11.herokuapp.com, dar poate include si alte informatii aflate în strânsa legatura cu utilizarea serviciilor si/sau produselor solicitate.</p>
            <p>Cu scopul de a raspunde mai bine nevoilor si întrebarilor utilizatorilor site-ului, informatiile solicitate prin intermediul acestui site vor face obiectul unei stocari si prelucrari electronice.</p>
            <p>LEGATURA CU ALTE SITE-URI<br>
            Prezentul site poate contine legaturi sau trimiteri catre alte site-uri considerate de forthegamers11.herokuapp.com utile în legatura cu continutul site-ului sau si care nu se afla sub controlul sau îndrumarea sa. În cazul utilizarii acestor legaturi sau trimiteri se vor aplica conditiile generale de utilizare corespunzatoare acelor site-uri.</p>
            <p>forthegamers11.herokuapp.com nu poate garanta/controla actualitatea/exactitatea informatiilor prezente pe site-urile unor terti, la care se face trimitere de pe site-ul sau.</p>
            <p>INFORMATIILE OFERITE PRIN INTERMEDIUL SITE-ULUI<br>
            Orice persoana care viziteaza site-ul forthegamers11.herokuapp.com si care ofera date sau informatii cu caracter personal prin intermediul acestui site îsi manifesta acordul în mod expres si neechivoc pentru urmatoarele: prelucrarea acestor date si informatii personale de catre forthegamers11.herokuapp.com; transmiterii de materiale promotionale specifice operatiunilor de marketing direct; solutionarea de catre forthegamers11.herokuapp.com a cererilor, întrebarilor si reclamatiilor adresate (a se vedea pagina Contact din site); alte activitati întreprinse de forthegamers11.herokuapp.com si permise de lege, ce nu fac obiectul unei aprobari din partea destinatarului.</p>
            <p>Site-ul forthegamers11.herokuapp.com va pastra confidentialitatea acestor informatii.</p>
            <p>Utilizarea în continuare a acestui site constituie acordul expres si neechivoc al dumneavoastra în conformitate cu prevederile legii 677/2001 si directivelor GDPR pentru protectia persoanelor cu privire la prelucrarea datelor cu caracter personal si libera circulatie a acestor date.</p>
            <p>Pentru orice nelamurire în legatura cu exercitarea drepturilor dumneavoastra referitoare la utilizarea site-ului si la protectia utilizarii va rugam sa trimiteti mail la victorbadulescu7@gmail.com</p>
            <p>Pagină inspirată după site-ul <a target="_blank" href="https://www.irinaciocan.ro/">irinaciocan.ro</a></p>
        </div>
    <%- include("../fragmente/footer.ejs");  %> 
</body>
</html>