@keyframes meniu{
    0%{
        opacity: 0;
        transform:scaleY(0);
    }
    100%{
        opacity: 1;
        transform:scaleY(1);
    }
}

@mixin deschidere_meniu {
    animation: meniu .4s linear forwards;
    transform-origin: 50% 0;
}