@-webkit-keyframes meniu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes meniu {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes sagetica_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes sagetica_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@-webkit-keyframes sagetica_out {
  from {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@keyframes sagetica_out {
  from {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@-webkit-keyframes sagetica2_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes sagetica2_in {
  from {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@-webkit-keyframes sagetica2_out {
  from {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@keyframes sagetica2_out {
  from {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
}

@-webkit-keyframes display_meniu_ham {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes display_meniu_ham {
  0% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes displ_submeniu_ham {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}

@keyframes displ_submeniu_ham {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
  }
}
/*# sourceMappingURL=animatii.css.map */