@import "./animatii.scss";
@import "./variabile.scss";
input{
  display: none;
}
@media screen and (max-width: 679px) {
  .meniu{
    width: 100%;
    height: 37px;
    padding: 0;
    margin: 0;
    background-color: $menu_color;
    // z-index: 10;
    position: sticky;
    top: 0;
    ul.ul_meniu{
      display: none;
      margin: 0;
      padding: 0;
      width: inherit;
      background-color: $menu_color;
      #acasa{
        display: none;
      }
      .sageata{
        display: none;
      }
      #doar_casa{
        ul{
          display: none;
        }
      }
      #toate{
        ul{
          display: none;
        }
      }
      #toate:hover{
        ul{
          display: block;
          transform-origin: 0 0;
          animation: displ_submeniu_ham .5s linear forwards;
        }
      }
      #doar_casa>a{
        cursor: default;
      }
      #doar_casa:hover{
        ul{
          display: block;
          transform-origin: 0 0;
          animation: displ_submeniu_ham .5s linear forwards;
        }
      }
      li{
        line-height: 37px;
        margin: 0;
        padding: 0;
        // padding-bottom: 10px;
        width: 100%;
        text-align: center;
        // position: absolute;
        list-style-type:none;
        a, div{
          text-decoration: none;
          color: white;
          display: block;
          font-weight: bold;
          // padding-top: 5px;
          transition: box-shadow 0.3s ease-in-out;
          &:hover{
            // background-color: black;
            box-shadow: inset 6px 6px 10px 1px $gri_deschis, inset -6px -6px 10px 1px $gri_deschis;
          }
        }
      }
    }
  }
  #menu-click:checked~.meniu>ul.ul_meniu{
    // display: flex;
    // flex-direction: column;
    display: block;
    // position: relative;
    // display: flex;
    // flex-direction: row;
    // position: relative;
    transform-origin: 0 0;
    animation: display_meniu_ham .7s linear forwards; 
  }
  // label{
  //   line-height: 37px;
  // }
  #hamburger{
    font-size: 2em;
    // padding: 3px;
  }
}
@media screen and (min-width:680px) {
  #hamburger{
    display: none;
  }
  .meniu{
    display: block;
  }
  #acasa{
    display: none;
    // a{
    //   display: none;
    // }
  }
  #doar_casa{
    display: block;
    // a{
    //   display: block;
    // }
  }
  .meniu ul.ul_meniu ul{
    display: none;
    position: absolute ;
    background-color: $menu_color;
    width: 200px;
    li{
      text-align: center;
      width: 150px;
      a{
        text-align: center;
      }
    }
    // padding: 5px;
  }
  .meniu{
    width: 100%;
    height: 37px;
    padding: 0;
    margin: 0;
    background-color: $menu_color;
    // z-index: 10;
    position: sticky;
    top: 0;
    ul{
      li{
        float: left;
        width: 200px;
        height: 37px;
        position: relative;
        text-align: center;
        list-style-type: none;
        a, div{
          height: 37px;
          line-height: 37px;
          text-decoration: none;
          color: white;
          display: block;
          font-weight: bold;
          transition: box-shadow 0.3s ease-in-out;
          &:hover{
            // background-color: black;
            box-shadow: inset 6px 6px 10px 1px $gri_deschis, inset -6px -6px 10px 1px $gri_deschis;
          }
        }
      }
      #doar_casa{
        a{
          cursor: default;
        }
        cursor: default;
      }

    }
  }
  ul.ul_meniu>li:hover>ul{
    width: 200px;
    padding: 0px;
    li{
      text-align: center;
      width: 200px;
    }
    display: block;
    @include deschidere_meniu();
  }
  .submeniu{
    li{
      // border: 4px solid red;
      overflow: hidden;
    }
    display:inline;
    align-items: flex-start;
    
  }
  #toate{
    li{
      overflow: hidden;
    }
  }
  .sageata{
    float:left;
    margin-left: 0px;
    margin-top: 10px;
    // display: none;
    transform: translateX(-40px);
    transition: all .5s linear;
  }
  .submeniu>li:hover, #toate>ul>li:hover{
    .s1{
      transform: translateX(33px);
    }
    .s2{
      transform:translateX(54px);
    }
  }
}
@media screen and (min-width:1008px) {
  #doar_casa{
    display: none;
    // a{
    //   display: none;
    // }
  }
  #acasa{
    display: block;
    cursor: default;
  }
  .meniu ul.ul_meniu ul{
    display: none;
    position: absolute ;
    background-color: $menu_color;
    width: 200px;
    li{
      text-align: center;
      width: 150px;
      a{
        text-align: center;
      }
    }
    // padding: 5px;
  }
  .meniu{
    width: 100%;
    height: 37px;
    padding: 0;
    margin: 0;
    background-color: $menu_color;
    // z-index: 10;
    position: sticky;
    top: 0;
    ul{
      li{
        float: left;
        width: 200px;
        height: 37px;
        position: relative;
        text-align: center;
        list-style-type: none;
        a, div{
          height: 37px;
          line-height: 37px;
          text-decoration: none;
          color: white;
          display: block;
          font-weight: bold;
          transition: box-shadow 0.3s ease-in-out;
          &:hover{
            // background-color: black;
            box-shadow: inset 6px 6px 10px 1px $gri_deschis, inset -6px -6px 10px 1px $gri_deschis;
          }
        }
      }
    }
  }
  ul.ul_meniu>li:hover>ul{
    width: 200px;
    padding: 0px;
    li{
      text-align: center;
      width: 200px;
    }
    display: block;
    @include deschidere_meniu();
  }
  .submeniu{
    li{
      // border: 4px solid red;
      overflow: hidden;
    }
    display:inline;
    align-items: flex-start;
   
  }
  #toate>ul>li{
    overflow:hidden;
  }
  .sageata{
    float:left;
    margin-left: 0px;
    margin-top: 10px;
    // display: none;
    transform: translateX(-40px);
    transition: all .5s linear;
  }
  .submeniu>li:hover, #toate>ul>li:hover{
    .s1{
      transform: translateX(33px);
    }
    .s2{
      transform:translateX(54px);
    }
  }
}
// .submeniu>li:hover{
//   .s1{
//     display: block;
//     animation: sagetica .5s linear both;
//   }
//   .s2{
//     display: block;
//     animation: sagetica2 .5s linear both;
//   }
// }
// .submeniu>li::before{
//   .sageata{
//     content: "";
//     position:absolute;
//     transform: translateX(-60px);
//     transition: all .5s linear;
//   }
// }
// .submeniu>li:hover{
//   .sageata{
//     transform: translateX(40px);
//     transition: all .5s linear;
//   }
// }
// .submeniu>li:hover{
//   .s1{
//     display: block;
//     animation: sagetica_in .5s linear both;
//     $cnt:1;
//   }
//   .s2{
//     display: block;
//     animation: sagetica2_in .5s linear both;
//     $cnt:1;
//   }
// }
// .submeniu>li{
//   .s1{
//       animation: sagetica_out .5s linear both;
//       display: block;
//   }
//   .s2{
//     display: block;
//     animation: sagetica2_out .5s linear both;
//   }
// }