@import "./animatii.scss";
@import "./variabile.css";
.meniu ul.ul_meniu ul{
  display: none;
  position: absolute ;
  background-color: $menu_color;
  width: 200px;
  li{
    text-align: center;
    width: 150px;
    a{
      text-align: center;
    }
  }
  // padding: 5px;
}
.meniu{
  width: 100%;
  height: 37px;
  padding: 0;
  margin: 0;
  background-color: $menu_color;
  // z-index: 10;
  position: sticky;
  top: 0;
  ul{
    li{
      float: left;
      width: 200px;
      height: 37px;
      position: relative;
      text-align: center;
      list-style-type: none;
      a{
        height: 37px;
        text-decoration: none;
        color: white;
        display: block;
        font-weight: bold;
        &:hover{
          background-color: black;
        }
      }
    }
    #acasa{
      cursor: default;
    }

  }
}
ul.ul_meniu>li:hover>ul{
  width: 200px;
  padding: 0px;
  li{
    text-align: center;
    width: 200px;
  }
  display: block;
  @include deschidere_meniu();
}
.submeniu{
  .sageata{
    float:left;
    margin-left: 3px;
    display: none;
  }
}
.submeniu>li:hover{
  i{
    display: block;
    animation: sagetica .5s linear both;
  }
}