@-webkit-keyframes meniu {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes meniu {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

#main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-row-gap: .3rem;
  grid-column-gap: .2rem;
      grid-template-areas: 'inceput inceput inceput' 'calendar tabel ads' 'content content content' 'despre-site utilizatori-online despre-user';
}

.inceput {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: inceput;
  background-color: #86c232;
}

.calendar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: calendar;
  background-color: #61982f;
}

.tabel {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: tabel;
  background-color: #86c232;
}

.ads {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: ads;
  background-color: #61982f;
}

.content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: content;
}

.inf_site {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: despre-site;
  background-color: #86c232;
}

.inf_user {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: despre-user;
  background-color: #61982f;
}

.user_online {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: utilizatori-online;
  background-color: #86c232;
}

@media (max-width: 800px) {
  #main-container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: 'inceput inceput' 'calendar tabel'   'ads ads' 'content content' 'despre-site despre-site' 'utilizatori-online despre-user';
  }
}

@media (max-width: 550px) {
  #main-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: 'inceput' 'calendar' 'tabel' 'ads' 'content' 'despre-site' 'utilizatori-online' 'despre-user';
  }
}

.meniu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.meniu li {
  float: left;
}

.meniu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.meniu li a:hover {
  background-color: #111;
}

.meniu li li {
  float: none;
}

body {
  background-color: #222629;
  color: #f6f8f7;
  font-size: .85em;
}

@media (min-width: 550px) {
  body {
    font-size: 1em;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1.3em;
  }
}

#main-container {
  padding: 7px;
}

iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 650px) {
  iframe {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

li > figure {
  max-width: 560px;
}

li > figure picture img {
  width: 100%;
  height: 100%;
}

.iframe-container {
  max-width: 560px;
  height: 315px;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=stil.css.map */