<header>
    <a id="inceput"></a>
    <h1>For the Gamers</h1>
    <figure>
      <picture>
          <source media="(min-width:1300px)" srcset="./Resurse/Logo/Logo2.png">
          <source media="(min-width:680px)" srcset="./Resurse/Logo/Logo3.png">
          <img src="./Resurse/Logo/Logo4.png" alt="Controller">
      </picture>
    </figure>
  </header>
  <input type="checkbox" id="menu-click" />
  <nav class="meniu" id="meniuu">
    <label for="menu-click" class="label-menu">
      <i class="fa-solid fa-bars" id="hamburger"></i>
    </label>
    <ul class="ul_meniu">
      <li id="acasa"><div>
        <i class="fa-solid fa-house"></i>
          Acasa
      </div>
      <ul class="submeniu">
        <li>
          <i class="fa-solid fa-arrow-right-long sageata s1"></i>
          <a href="#Best">Open-source</a>
        </li>
        <li>
          <i class="fa-solid fa-arrow-right-long sageata s2"></i>
          <a href="#Contact">Contact</a>
        </li>
      </ul>
      </li>
      <li id="doar_casa"><div>
        <i class="fa-solid fa-house"></i>
      </div>
      <ul class="submeniu">
        <li>
          <i class="fa-solid fa-arrow-right-long sageata s1"></i>
          <a href="#Best">Open-source</a>
        </li>
        <li>
          <i class="fa-solid fa-arrow-right-long sageata s2"></i>
          <a href="#Contact">Contact</a>
        </li>
      </ul>
    </li>
      <li id="toate"><div>Jocuri</div>
        <ul class="toate-submeniu">
          <li><i class="fa-solid fa-arrow-right-long sageata s1"></i><a href="populare.html">Populare</a></li>
          <li><i class="fa-solid fa-arrow-right-long sageata s1"></i><a href="noi.html">Cele mai noi</a></li>
          <li><i class="fa-solid fa-arrow-right-long sageata s2"></i><a href="ieftine.html">Sub 5 &euro;</a></li>
        </ul>
      </li>
      <li id="cont"><a  href="contul_meu.html"><i class="fas fa-spinner fa-spin"></i> Contul meu</a></li>
    </ul>
  </nav>